[submodule "NitronicCore/vendor/spdlog"]
	path = NitronicCore/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "NitronicCore/vendor/GLFW"]
	path = NitronicCore/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "NitronicCore/vendor/glfw"]
	path = NitronicCore/vendor/glfw
	url = https://github.com/TheCherno/glfw.git
