[submodule "external/nvrhi"]
	path = external/nvrhi
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/BeefyAndTheDucks/imgui.git
	branch = docking
